<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.xdvideo.mapper.EpisodeMapper">
  <resultMap id="BaseResultMap" type="net.xdclass.xdvideo.domain.Episode">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ordered" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="play_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="chapter_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="free" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="cover_img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="video_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, num, ordered, play_url, chapter_id, free, cover_img, video_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from episode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from episode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.xdclass.xdvideo.domain.Episode">
    insert into episode (id, title, num, 
      ordered, play_url, chapter_id, 
      free, cover_img, video_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{ordered,jdbcType=INTEGER}, #{playUrl,jdbcType=VARCHAR}, #{chapterId,jdbcType=INTEGER}, 
      #{free,jdbcType=TINYINT}, #{coverImg,jdbcType=VARCHAR}, #{videoId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.xdclass.xdvideo.domain.Episode">
    insert into episode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="ordered != null">
        ordered,
      </if>
      <if test="playUrl != null">
        play_url,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="free != null">
        free,
      </if>
      <if test="coverImg != null">
        cover_img,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="ordered != null">
        #{ordered,jdbcType=INTEGER},
      </if>
      <if test="playUrl != null">
        #{playUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="free != null">
        #{free,jdbcType=TINYINT},
      </if>
      <if test="coverImg != null">
        #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.xdclass.xdvideo.domain.Episode">
    update episode
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="ordered != null">
        ordered = #{ordered,jdbcType=INTEGER},
      </if>
      <if test="playUrl != null">
        play_url = #{playUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="free != null">
        free = #{free,jdbcType=TINYINT},
      </if>
      <if test="coverImg != null">
        cover_img = #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.xdclass.xdvideo.domain.Episode">
    update episode
    set title = #{title,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      ordered = #{ordered,jdbcType=INTEGER},
      play_url = #{playUrl,jdbcType=VARCHAR},
      chapter_id = #{chapterId,jdbcType=INTEGER},
      free = #{free,jdbcType=TINYINT},
      cover_img = #{coverImg,jdbcType=VARCHAR},
      video_id = #{videoId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>