<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.xdvideo.mapper.VideoOrderMapper">
  <resultMap id="BaseResultMap" type="net.xdclass.xdvideo.domain.VideoOrder">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="out_trade_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="total_fee" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="video_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="video_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="video_img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, out_trade_no, state, create_time, total_fee, video_id, video_title, video_img, 
    user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.xdclass.xdvideo.domain.VideoOrder">
    insert into video_order (id, out_trade_no, state, 
      create_time, total_fee, video_id, 
      video_title, video_img, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{outTradeNo,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{totalFee,jdbcType=INTEGER}, #{videoId,jdbcType=INTEGER}, 
      #{videoTitle,jdbcType=VARCHAR}, #{videoImg,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.xdclass.xdvideo.domain.VideoOrder">
    insert into video_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoTitle != null">
        video_title,
      </if>
      <if test="videoImg != null">
        video_img,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoTitle != null">
        #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoImg != null">
        #{videoImg,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.xdclass.xdvideo.domain.VideoOrder">
    update video_order
    <set>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoTitle != null">
        video_title = #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoImg != null">
        video_img = #{videoImg,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.xdclass.xdvideo.domain.VideoOrder">
    update video_order
    set out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      total_fee = #{totalFee,jdbcType=INTEGER},
      video_id = #{videoId,jdbcType=INTEGER},
      video_title = #{videoTitle,jdbcType=VARCHAR},
      video_img = #{videoImg,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>